@charset "utf-8";


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1e27;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.login-form {
    background-color: #f7f8f9;
    padding: 40px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
    gap: 15px;
    /* text-align: center; */
}

.form-title {
    font-size: 2rem;
    color: #f9f7f7;
    margin-bottom: 20px;
    text-align: center; /* タイトルを中央揃え */
}

.login-form label {
    display: block;
    color: #f6f4f4;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group {
   text-align: left;
    margin-bottom: 0px;
}

.form-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #4a4a4a;
}

.login-form label{
    display: block;
    font-size: 0.9rem;
    color: #fdfafa;
    margin-bottom: 8px;
    font-weight: 600;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #5a6681;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box; /* paddingとborderをwidthに含める */
    transition: border-color 0.3s ease;
    background-color: #3b4252
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    border-color: #007bff; /* フォーカス時のボーダー色 */
    outline: none; /* デフォルトのアウトラインを消す */
}

/* サインインボタン */
.submit-button {
    width: 100%;
    padding: 12px 15px;
    background-color: #007bff; /* ボタンの背景色 */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* ボタン上のスペース */
}

.submit-button:hover {
    background-color: #0056b3; /* ホバー時の色 */
}

/* サインアップのテキストとリンク */
.signup-text {
    font-size: 0.9rem;
    color: #666;
    margin-top: 20px; /* 上部のスペース */
    margin-bottom: 5px; /* リンク上のスペース */
}

.signup-link {
    color: #007bff; /* リンクの色 */
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.signup-link:hover {
    color: #0056b3; /* ホバー時の色 */
    text-decoration: underline;
}

/* レスポンシブ対応 (例: 画面が狭い場合) */
@media (max-width: 500px) {
    .login-form {
        margin: 20px; /* 画面端からの余白 */
        padding: 30px 20px;
        max-width: none; /* 最大幅の制限を解除 */
    }
}